
<% if can? 'menu', 'new' %>
  <li> <%= render partial: 'layouts/new_menu'   %> </li>
<% end %>
<% if can? 'menu', 'help' %>
  <li> <%= render partial: 'layouts/help_menu'  %> </li>
<% end %>
<% if can? 'menu', 'user' %>
  <li> <%= render partial: 'layouts/user_menu' %> </li>
<% end %>
<% if can? 'menu', 'tree' %>
  <li id="taxonomy-menu-main" class="dropdown">
    <%= render partial: 'layouts/taxonomy_menu' %>
  </li>
<% end %>
<% if Rails.configuration.try(:batch_loader_aware) %>
  <% if can? 'menu', 'batch' %>
    <li id="batch-menu-main" class="dropdown">
      <%= render partial: 'layouts/batch_menu',
        locals: {default_batch: session[:default_loader_batch_name]} %>
    </li>
  <% end %>
<% end %>
<% if can? 'menu', 'admin' %>
  <li> <%= render partial: 'layouts/admin_menu' %> </li>
<% end %>

<% if session[:product_context_display_text].present? %>
  <li class="">
    <div class="highlighted">
      <span> | In <%= session[:product_context_display_text] %></span>
      <% if !session[:product_context_is_default] %>
        <%= link_to "( clear )", clear_product_contexts_path, method: :post, class: "highlighted", title: "Reset context" %>
      <% end %>
    </div>
  </li>
<% end %>

